<section id="contact" class="bg-silver-light">
  <div class="container pb-sm-10">
    <div class="row">
      <div class="col-md-5">
        <div class="contact-details border-theme-color-1px p-30 pt-40 pr-20 pb-60">
          <h3 class="font-24 mb-20">If You have any query or suggestion <span class="text-theme-colored">please
              contact</span> us</h3>
          <p>You are always welcome to visit our office. Note the office address below or ring us for proper direction.
            Hope to meet you soon…</p>
          <ul class="list-icon theme-colored square mt-30">
            <li>
              <!-- <i class="fa fa-map-marker text-white"></i> -->
              <span>Address: Nagala Park, Kolhapur, M.H. 416003</span>
            </li>
            <li>
              <!-- <i class="fa fa-envelope-o text-white"></i> -->
              <span>Email: <a href="mailto:roopashanbhag3@gmail.com">roopashanbhag3@gmail.com</a></span>
            </li>
            <li>
              <!-- <i class="fa fa-phone text-white"></i> -->
              <span>Phone: <a href="tel:8007130763">8007130763</a></span>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-7">
        <h3 class="line-bottom mt-0 mb-20 mt-sm-30">Leave Your <span class="text-theme-colored">Comment</span> Here</h3>
        <p class="mb-20">We would love to hear from you. Please write to us. Simply fill in the form below and press the
          “Send Message” button to get in touch with us.</p>
        <div role="form" class="wpcf7" id="wpcf7-f139-o2" lang="en-US" dir="ltr">
          <div class="screen-reader-response">
            <p role="status" aria-live="polite" aria-atomic="true"></p>
            <ul></ul>
          </div>
          <form action="/#wpcf7-f139-o2" method="post" class="wpcf7-form init" novalidate="novalidate"
            data-status="init">
            <div style="display: none;">
              <input type="hidden" name="_wpcf7" value="139">
              <input type="hidden" name="_wpcf7_version" value="5.3">
              <input type="hidden" name="_wpcf7_locale" value="en_US">
              <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f139-o2">
              <input type="hidden" name="_wpcf7_container_post" value="0">
              <input type="hidden" name="_wpcf7_posted_data_hash" value="">
            </div>
            <p>
              <!-- Contact Form Start -->
            </p>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40"
                      class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control"
                      aria-required="true" aria-invalid="false" placeholder="Enter Name"></span>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value=""
                      size="40"
                      class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control"
                      aria-required="true" aria-invalid="false" placeholder="Enter Email"></span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" value=""
                      size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control"
                      aria-required="true" aria-invalid="false" placeholder="Enter Subject"></span>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <span class="wpcf7-form-control-wrap your-mobile"><input type="tel" name="your-mobile" value=""
                      size="40"
                      class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel form-control"
                      aria-required="true" aria-invalid="false" placeholder="Enter Phone"></span>
                </div>
              </div>
            </div>
            <div class="form-group">
              <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="5"
                  class="wpcf7-form-control wpcf7-textarea form-control" aria-invalid="false"
                  placeholder="Enter Message"></textarea></span>
            </div>
            <div class="form-group">
              <input type="submit" value="Send Message"
                class="wpcf7-form-control wpcf7-submit btn btn-flat btn-theme-colored text-uppercase mt-10 mb-sm-30 border-left-theme-color-2-4px">
            </div>
          </form>
          <p>
            <!-- Contact Form End -->
          </p>
          <div class="wpcf7-response-output" aria-hidden="true"></div>
        </div>
      </div>
    </div>
  </div>
</section>