<div class="container-fluid">
  <div class="jumbotron">
    <!-- <img src="images/sun.png" width="150" height="150" class="d-inline-block align-top" alt="" loading="lazy"> -->
    <img src="images/jupiter.png" width="150" height="150" class="d-inline-block align-top" alt="" loading="lazy">
    <h1 class="display-4 love">
      <span style="color:rgb(225, 24, 158)">LOVE</span>
      <span style="color:rgb(53, 21, 232)">BLISS</span>
      <span style="color:rgb(36, 209, 20)">GRATITUDE</span>
      <span style="color:rgb(255, 255, 255)">PEACE</span>
      <span style="color:rgb(220, 22, 22)">DIVINITY</span>
    </h1>
    <h1 class="display-4 blink_me font-weight-bold" style="color:rgb(225, 24, 158)">Welcome to NO NEGATIVITY ZONE!</h1>
    <p class="lead">where you make your life blissful and the world, a paradise to live in.</p>
    <hr class="my-4">
    <p>Get permanent HOLISTIC SOLUTIONS to any and every problem in your life.</p>
    <!-- <a class="btn btn-primary btn-lg"
      href="https://www.google.com/maps/place/16%C2%B042'34.8%22N+74%C2%B014'11.7%22E/@16.7099786,74.2353128,18.08z/data=!4m14!1m7!3m6!1s0x3bc1006f5dccec0b:0xe4b2f4d8b175b16f!2sNagalapark,+Kolhapur,+Maharashtra+416003!3b1!8m2!3d16.7097373!4d74.2370076!3m5!1s0x3bc10068c75aee15:0xa3ec8b14c53aca61!7e2!8m2!3d16.7096677!4d74.2365879"
      target="_blank" role="button">View On Google Maps
    </a> -->
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4 text-center">
      <img src="images/brain.png" class="bd-placeholder-img rounded-circle" width="140" height="140" />
      <h2>DMIT</h2>
      <p>Dermatoglyphics Multiple Intelligence Test is a scietntific technique of analyzing the fingerprints to know
        the
        inborn talents of a person . </p>
      <p><a class="btn btn-link dmit" href="#" role="button">View details »</a></p>
    </div>
    <div class="col-md-4 text-center">
      <img src="images/astrology.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" />
      <h2>Astrology and Palmistry</h2>
      <p>All Astrology and Palmistry Solutions. </p>
      <p><a class="btn btn-link astrology" href="#" role="button">View details »</a></p>
    </div>
    <div class="col-md-4 text-center">
      <img src="images/emotional.jpg" class="bd-placeholder-img rounded-circle" width="140" height="140" />
      <h2>Emotional Wellness</h2>
      <p>Emotional wellness inspires self-care, relaxation, stress reduction and the development of inner strength. It
        is important to be attentive to both positive and negative feelings and be able to understand how to handle
        these emotions.</p>
      <p><a class="btn btn-link" href="#" role="button">View details »</a></p>
    </div>
  </div>
</div>