<header id="header" class="header">
  <!-- <nav class="navbar navbar-expand-lg navbar-light navbar-custom"> -->
  <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
    <a class="navbar-brand home" href="#">
      <img src="images/jupiter.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
      Divine Interventions</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav pt-2 py-md-0">
        <li class="nav-item">
          <a class="nav-link home" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link about" href="#">About</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Subjects
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item dmit font-weight-bold" href="#">DMIT</a>
            <a class="dropdown-item font-weight-bold" href="#">Astrology & Palmistry</a>
            <a class="dropdown-item font-weight-bold" href="#">EFT - Emotional Freedom Technique</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Silva Techniques based on Law of Attraction</a>
            <a class="dropdown-item" href="#">Jin Shin Juitsu</a>
            <a class="dropdown-item" href="#">Chakra Healing and Balancing</a>
            <a class="dropdown-item" href="#">Various Types of Meditation</a>
            <a class="dropdown-item" href="#">Ho-opono-pono</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Bach Flower Therapy</a>
            <a class="dropdown-item" href="#">Past Life Regression Therapy</a>
            <a class="dropdown-item" href="#">Switch Words</a>
            <a class="dropdown-item" href="#">Numerology</a>
          </div>
        </li>

        <li class="nav-item">
          <a class="nav-link contact" href="#">Contact Us</a>
        </li>
      </ul>

      <hr class="d-md-none text-white-50">

      <ul class="navbar-nav ">
        <li class="nav-item">
          <a class="navbar-brand home" href="https://www.facebook.com/roopa.shanbhag3">
            <img src="images/icons/facebook.svg" width="15" height="15" class="d-inline-block align-top" alt=""
              loading="lazy">
          </a>
        </li>
        <li class="nav-item">
          <a class="navbar-brand home" href="tel:8007130763">
            <img src="images/icons/telephone.svg" width="15" height="15" class="d-inline-block align-top" alt=""
              loading="lazy">
            8007130763</a>
        </li>
      </ul>

      <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->

    </div>
  </nav>
</header>